In [306]:
import ast
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("/movies_dataset.csv")

C:\Users\Sofita\AppData\Local\Temp\ipykernel_91824\814501468.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r"C:\Users\Sofita\Documents\Henry\Movies\movies_dataset.csv")

In [ ]:
credits_to_merge = pd.read_csv("credits_merge.csv")

# Análisis de 'data'

In [309]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [310]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

- Hacer copias del dataset original

In [311]:
data_cleaned = data.copy()

In [312]:
data_actors = data.copy()

In [313]:
# 1-Desanidar columnas

- Inspección de columnas anidadas y sus tipod de datos

In [314]:
print(data['belongs_to_collection'].head())
print(data['genres'].head())
print(data['production_companies'].head())
print(data['production_countries'].head())
print(data['spoken_languages'].head())

0    {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                  NaN
2    {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                  NaN
4    {'id': 96871, 'name': 'Father of the Bride Col...
Name: belongs_to_collection, dtype: object
0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object
0       [{'name': 'Pixar Animation Studios', 'id': 3}]
1    [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2    [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3    [{'name': 'Twentieth Century Fox Film Corporat...
4    [{'name': 'Sandollar Productions', 'id': 5842}...
Name: production_companies, dtype: object
0    [{'iso_3166_1': 'US', 'name': 'United States o...
1    [{'iso_3166_1': 'US', 'name': 'United States o...
2    [{'iso_3166_1': 'US', 'name': 'United States o...
3    [{'iso_3166_1': 'US', 'name': 'United States o...
4    [{'iso_3166_1': 'US', 'name': 'United States o...
Name: production_countries, dtype: object
0             [{'iso_639_1': 'en', 'name': 'English'}]
1    [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2             [{'iso_639_1': 'en', 'name': 'English'}]
3             [{'iso_639_1': 'en', 'name': 'English'}]
4             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, dtype: object

In [315]:
print(data['belongs_to_collection'].apply(type).value_counts())
print(data['genres'].apply(type).value_counts())
print(data['production_companies'].apply(type).value_counts())
print(data['production_countries'].apply(type).value_counts())
print(data['spoken_languages'].apply(type).value_counts())

belongs_to_collection
<class 'float'>    40972
<class 'str'>       4494
Name: count, dtype: int64
genres
<class 'str'>    45466
Name: count, dtype: int64
production_companies
<class 'str'>      45463
<class 'float'>        3
Name: count, dtype: int64
production_countries
<class 'str'>      45463
<class 'float'>        3
Name: count, dtype: int64
spoken_languages
<class 'str'>      45460
<class 'float'>        6
Name: count, dtype: int64

- Función para convertir cadenas en listas o diccionarios

In [316]:
def desanidar_atributos(value):
    """
    Convierte una cadena que representa una lista o un diccionario en un objeto Python.

    Esta función toma una cadena y, si es posible, la convierte en una lista o diccionario 
    utilizando `ast.literal_eval`. Esto permite trabajar con datos anidados en formato de 
    texto. Si el valor es nulo o la conversión falla, devuelve `None`.

    Parámetro:
        value (str): Cadena que representa una lista o diccionario en formato de texto, o 
                     cualquier otro tipo de valor.

    Returns:
        list, dict, or None: La lista o diccionario evaluados si la conversión es exitosa. 
                             Devuelve `None` si `value` es nulo, no es una cadena o la 
                             conversión falla.
    """
    if pd.isna(value):
        return None
    if isinstance(value, str):
        try:
            return ast.literal_eval(value)
        except (ValueError, SyntaxError):
            return None
    return None

In [317]:
import pandas as pd

def desanidar_lista_diccionarios(df, column_name, prefix):
    """
    Desanida y expande una columna que contiene listas de diccionarios en un DataFrame.
    Imprime las primeras filas de la columna desanidada.

    Parámetros:
    df (pd.DataFrame): DataFrame que contiene la columna a desanidar.
    column_name (str): Nombre de la columna con listas de diccionarios.
    prefix (str): Prefijo a agregar a las columnas nuevas generadas a partir de los diccionarios.
    
    Returns:
    pd.DataFrame: DataFrame con las columnas desanidadas y el prefijo especificado, incluyendo la columna 'id'.
    """
    df[column_name] = df[column_name].apply(desanidar_atributos)
    df_expanded = df.explode(column_name, ignore_index=True)
    normalized_data = pd.json_normalize(df_expanded[column_name]).add_prefix(f'{prefix}_')
    normalized_data['id'] = df_expanded['id'].reset_index(drop=True)

    print(f"Head de la columna desanidada '{column_name}' con prefijo '{prefix}':\n", normalized_data.head())

    return normalized_data

In [318]:
def desanidar_diccionario(df, column_name, prefix):
    """
    Desanida una columna que contiene diccionarios en un DataFrame y expande los datos en columnas individuales.
    Imprime las primeras filas de la columna desanidada.

    Parameters:
    df (pd.DataFrame): DataFrame que contiene la columna a desanidar.
    column_name (str): Nombre de la columna con diccionarios.
    prefix (str): Prefijo a agregar a las columnas nuevas generadas a partir del diccionario.
    
    Returns:
    pd.DataFrame: DataFrame con las columnas desanidadas y el prefijo especificado, incluyendo la columna 'id'.
    """
    df[column_name] = df[column_name].apply(desanidar_atributos)
    normalized_data = pd.json_normalize(df[column_name]).add_prefix(f'{prefix}_')
    normalized_data['id'] = df['id'].reset_index(drop=True)

    print(f"Head de la columna desanidada '{column_name}' con prefijo '{prefix}':\n", normalized_data.head())

    return normalized_data

- Desanidando cada columna de forma secuencial

In [319]:
desanidado_collection = desanidar_diccionario(data_cleaned, 'belongs_to_collection','collections')
desanidado_genre = desanidar_lista_diccionarios(data_cleaned, 'genres', 'genres')
desanidado_company = desanidar_lista_diccionarios(data_cleaned, 'production_companies', 'production_companies')
desanidado_country = desanidar_lista_diccionarios(data_cleaned, 'production_countries', 'production_countries')
desanidado_language = desanidar_lista_diccionarios(data_cleaned, 'spoken_languages', 'languages')

Head de la columna desanidada 'belongs_to_collection' con prefijo 'collections':
    collections_id                collections_name  \
0         10194.0            Toy Story Collection
1             NaN                             NaN
2        119050.0       Grumpy Old Men Collection
3             NaN                             NaN
4         96871.0  Father of the Bride Collection

            collections_poster_path         collections_backdrop_path     id
0  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg  /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg    862
1                               NaN                               NaN   8844
2  /nLvUdqgPgm3F85NMCii9gVFUcet.jpg  /hypTnLot2z8wpFS7qwsQHW1uV8u.jpg  15602
3                               NaN                               NaN  31357
4  /nts4iOmNnq7GNicycMJ9pSAn204.jpg  /7qwE57OVZmMJChBpLEbJEmzUydk.jpg  11862
Head de la columna desanidada 'genres' con prefijo 'genres':
    genres_id genres_name    id
0       16.0   Animation   862
1       35.0      Comedy   862
2    10751.0      Family   862
3       12.0   Adventure  8844
4       14.0     Fantasy  8844
Head de la columna desanidada 'production_companies' con prefijo 'production_companies':
    production_companies_name  production_companies_id     id
0    Pixar Animation Studios                      3.0    862
1           TriStar Pictures                    559.0   8844
2               Teitler Film                   2550.0   8844
3  Interscope Communications                  10201.0   8844
4               Warner Bros.                   6194.0  15602
Head de la columna desanidada 'production_countries' con prefijo 'production_countries':
   production_countries_iso_3166_1 production_countries_name     id
0                              US  United States of America    862
1                              US  United States of America   8844
2                              US  United States of America  15602
3                              US  United States of America  31357
4                              US  United States of America  11862
Head de la columna desanidada 'spoken_languages' con prefijo 'languages':
   languages_iso_639_1 languages_name     id
0                  en        English    862
1                  en        English   8844
2                  fr       Français   8844
3                  en        English  15602
4                  en        English  31357

## Inspeccionar las columnas de desanidado_cast y desanidado_crew .
Se fusionan las columnas al dataset original, creando 2 DataFrames que tras sucesivas transformaciones resultarán en:
- merged_data_model.parquet : será utilizado en el EDA
- merged_data_actors.parquet : cumple con los requerimientos de datos justos para deployar las funciones en la Api(sin incluir la función del modelo)

- Eliminar las columnas con datos anidados

In [320]:
delete_columns = ['belongs_to_collection', 'genres', 'production_companies', 'production_countries','spoken_languages']

data_cleaned = data_cleaned.drop(columns= delete_columns)
data_actors = data_actors.drop(columns= delete_columns)

- Fusionar

In [321]:
data_cleaned = data_cleaned.merge(
    desanidado_genre[['id', 'genres_name']], 
    on='id', 
    how='left'
).merge(
    desanidado_company[['id', 'production_companies_name']], 
    on='id', 
    how='left'
).merge(
    desanidado_country[['id', 'production_countries_name']],
    on='id', 
    how='left'
)

- Se agrupan por 'id' las filas de data_cleaned para evitar replicación de datos

In [322]:
def agrupar_y_fusionar(df, columna_key , columnas_a_agrupar):
    """
    Agrupa las columnas desanidadas en listas únicas por cada valor en la columna de agrupación.
    Luego elimina las columnas desanidadas originales y fusiona los resultados en el DataFrame principal.

    Parámetros:
    df (pd.DataFrame): DataFrame original.
    columna_id (str): Nombre de la columna usada para agrupar (e.g., 'id').
    columnas_a_agrupar (list): Lista de nombres de las columnas desanidadas que se deben agrupar.

    Retorna:
    pd.DataFrame: DataFrame con las columnas agrupadas en listas y sin duplicados.
    """

    # Agrupar cada columna en listas únicas
    for columna in columnas_a_agrupar:
        agrupado = df.groupby(columna_key)[columna].unique().apply(list).reset_index()
        df = df.drop(columns=[columna]).drop_duplicates(subset=columna_key)
        df = df.merge(agrupado, on=columna_key, how='left')
    
    return df

In [323]:
columnas_para_agrupar = ['genres_name', 'production_companies_name', 'production_countries_name']
data_cleaned = agrupar_y_fusionar(data_cleaned, 'id', columnas_para_agrupar)

In [324]:
data_cleaned.head(3)

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,runtime,status,tagline,title,video,vote_average,vote_count,genres_name,production_companies_name,production_countries_name
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,81.0,Released,NaN,Toy Story,False,7.7,5415.0,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America]
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[Adventure, Fantasy, Family]",[TriStar Pictures],[United States of America]
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[Romance, Comedy]",[Warner Bros.],[United States of America]

In [325]:
data_actors.head(3)

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,False,7.7,5415.0
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

# 2-Eliminar las filas nulas de 'release_date' y 'title'
- Se eliminan los valores nulos de estas columnas y se chequea que todos los datos de 'title' sean 'string'

- 'title'

In [326]:
print(data['title'].apply(type).value_counts())

title
<class 'str'>      45460
<class 'float'>        6
Name: count, dtype: int64

In [327]:
data_cleaned.dropna(subset=['title'], inplace=True)
data_actors.dropna(subset=['title'], inplace=True)

data_cleaned = data_cleaned[data_cleaned['title'].apply(lambda x: isinstance(x, str))]
data_actors = data_actors[data_actors['title'].apply(lambda x: isinstance(x, str))]

In [328]:
print(data_cleaned['title'].apply(type).value_counts())
print(data_actors['title'].apply(type).value_counts())

title
<class 'str'>    45430
Name: count, dtype: int64
title
<class 'str'>    45460
Name: count, dtype: int64

- 'release_date'

In [329]:
print("Cantidad de valores nulos en release_date:", data['release_date'].isnull().sum())

Cantidad de valores nulos en release_date: 87

In [330]:
data_cleaned = data_cleaned.dropna(subset=['release_date']).reset_index(drop=True)

In [331]:
data_actors = data_actors.dropna(subset=['release_date']).reset_index(drop=True)

# 3-Formatear release_year

- Se convierte la columna release_date a formato de fecha. En caso de error, las fechas no válidas se reemplazan con NaT para facilitar su identificación y eliminación.

In [332]:
data_cleaned['release_date'] = pd.to_datetime(data_cleaned['release_date'], errors='coerce')
data_actors['release_date'] = pd.to_datetime(data_actors['release_date'], errors='coerce')

- Contar errores de conversión

In [333]:
conversion_errors = data_cleaned['release_date'].isnull().sum()
conversion_errors_actors = data_actors['release_date'].isnull().sum()

- Eliminar fechas no válidas

In [334]:
data_cleaned.dropna(subset=['release_date'], inplace=True)
data_actors.dropna(subset=['release_date'], inplace=True)

- Se muestra la cantidad de filas eliminadas debido a fechas no válidas, para registrar los datos perdidos en la limpieza.

In [335]:
print(f"Se eliminaron {conversion_errors} filas debido a errores de conversión.")

Se eliminaron 0 filas debido a errores de conversión.

## Crear la columna release_year extrayendo el año de release_date como entero

In [336]:
data_cleaned['release_year'] = data_cleaned['release_date'].dt.year.astype(int)
data_actors['release_year'] = data_actors['release_date'].dt.year.astype(int)

# 4- Eliminar columnas que no serán utilizadas
- Recomendadas : video,imdb_id,adult,original_title,poster_path y homepage.
- Además :'video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage', 'tagline', 'runtime'

In [337]:
columns_to_drop = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage', 'tagline', 'runtime']
columns_to_drop_actors = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage', 'tagline', 'runtime','overview']
data_cleaned.drop(columns=columns_to_drop, inplace = True)
data_actors.drop(columns=columns_to_drop_actors, inplace = True)

# 5-Crear la columna 'return' con el retorno de inversión
Se divide revenue / budget tras asegurarse de que ambos campos sean numéricos. Si no hay datos disponibles para el cálculo, deberá tomar el valor 0.

In [338]:
data_cleaned['revenue'] = pd.to_numeric(data_cleaned['revenue'], errors='coerce')
data_cleaned['budget'] = pd.to_numeric(data_cleaned['budget'], errors='coerce')

data_actors['revenue'] = pd.to_numeric(data_actors['revenue'], errors='coerce')
data_actors['budget'] = pd.to_numeric(data_actors['budget'], errors='coerce')


data_cleaned['return'] = np.where(data_cleaned['budget'] > 0,
                                   data_cleaned['revenue'] / data_cleaned['budget'],
                                   0)

data_actors['return'] = np.where(data_actors['budget'] > 0,
                                   data_actors['revenue'] / data_actors['budget'],
                                   0)

# Filtrar las filas en las que el valor de la columna 'status' no sea "Released"
- Eliminar la columna 'status'.
Esta decisión es tomada tras analizar los valores únicos de la columna status

In [339]:
data_cleaned['status'].value_counts()

status
Released           44907
Rumored              229
Post Production       97
In Production         19
Planned               13
Canceled               1
Name: count, dtype: int64

In [340]:
data_cleaned = data_cleaned[data_cleaned['status'] == 'Released']
data_actors = data_actors[data_actors['status'] == 'Released']

In [341]:
data_cleaned.drop(columns=['status'], inplace = True)
data_actors.drop(columns=['status'], inplace = True)

# Filtrar el DataFrame para mantener solo las filas donde el año de estreno sea mayor o igual a 1940

In [342]:
data_cleaned = data_cleaned[data_cleaned['release_year'] >= 1940].reset_index(drop=True)
data_actors = data_actors[data_actors['release_year'] >= 1940].reset_index(drop=True)

# Filtrar por Lenguaje
- Se decide filtrar los 6 primeros lenguajes con mayor presencia.
- Se elimina la columna 'original_language'

In [343]:
conteo_languages = data_cleaned['original_language'].value_counts()
conteo_languages_df = conteo_languages.reset_index()
pd.set_option('display.max_rows', None)
conteo_languages_df.head(10)

  original_language  count
0                en  30181
1                fr   2266
2                it   1505
3                ja   1309
4                de    992
5                es    978
6                ru    768
7                hi    501
8                ko    442
9                zh    402

In [ ]:
idiomas_filtrados = ['en']

data_cleaned = data_cleaned[data_cleaned['original_language'].isin(idiomas_filtrados)].reset_index(drop=True)
data_actors = data_actors[data_actors['original_language'].isin(idiomas_filtrados)].reset_index(drop=True)

In [345]:
data_cleaned.drop(columns=['original_language'], inplace = True)
data_actors.drop(columns=['original_language'], inplace = True)

# Se chequean los tipos de las columnas 'id' y 'popularity'
- Se transforma 'id' a entero y 'popularity' a 'float'

In [346]:
print(data_cleaned['id'].apply(type).value_counts())

print(data_cleaned['popularity'].apply(type).value_counts())

id
<class 'str'>    37231
Name: count, dtype: int64
popularity
<class 'float'>    27880
<class 'str'>       9351
Name: count, dtype: int64

In [347]:
data_cleaned['id'] = data_cleaned['id'].astype(int)
data_actors['id'] = data_actors['id'].astype(int)

In [348]:
data_cleaned['popularity'] = data_cleaned['popularity'].astype(float)
data_actors['popularity'] = data_actors['popularity'].astype(float)

# Unir los dataframes obtenidos a partir del procesamiento de los datos de movies_dataset.csv y credits.csv

- Se mantienen solo las filas con coincidencias en ambas tablas.

In [349]:
merged_data = data_cleaned.merge(credits_to_merge, on='id', how='inner')

In [350]:
merged_data_actors = data_actors.merge(credits_to_merge, on='id', how='inner')

# Transformar las cadenas en listas

In [351]:
def safe_literal_eval(val):
    """
    Convierte una cadena que representa una lista a una lista real.
    
    Parámetros:
    val (str or list): El valor a convertir.

    Returns:
    list: Devuelve una lista si la conversión es exitosa, 
          o una lista vacía si falla o si el valor no es una cadena ni una lista.
    """
    if isinstance(val, str):
        try:
            return ast.literal_eval(val)  # Intenta convertir la cadena a una lista
        except (ValueError, SyntaxError):
            return []  # Devuelve lista vacía si falla
    return val if isinstance(val, list) else []  # Devuelve lista vacía si no es str ni list

def verificar_y_convertir_listas(dataframe, columnas):
    """
    Verifica que los elementos de las listas en las columnas especificadas contengan solo strings 
    y convierte cadenas que representan listas a listas reales.
    
    Parámetros:
    dataframe (pd.DataFrame): DataFrame que contiene las columnas a verificar y convertir.
    columnas (list): Lista de nombres de columnas a analizar en el DataFrame.

    Returns:
    dict: Un diccionario donde cada clave es el nombre de una columna y cada valor es un 
          booleano que indica si todas las listas contienen solo strings.
          
    La función también imprime un mensaje con los resultados para cada columna especificada.
    """
    resultados = {}

    for columna in columnas:
        # Convertir los elementos de la columna usando safe_literal_eval
        dataframe[columna] = dataframe[columna].apply(safe_literal_eval)
        
        # Verificar si todas las listas contienen solo strings
        only_strings = dataframe[columna].apply(lambda lst: all(isinstance(item, str) for item in lst if isinstance(lst, list)))
        resultado = only_strings.all()  # True si todas las listas contienen solo strings
        
        resultados[columna] = resultado
        
        # Imprimir el resultado para cada columna
        print(f"¿Todas las listas en '{columna}' contienen solo strings? {resultado}")

    return resultados

In [352]:
columnas_a_verificar = ['main_cast', 'genres_name', 'production_companies_name', 'production_countries_name']
columna_actores = ['main_cast']

resultados_data_cleaned = verificar_y_convertir_listas(merged_data, columnas_a_verificar)
resultados_data_actors = verificar_y_convertir_listas(merged_data_actors, columna_actores)

¿Todas las listas en 'main_cast' contienen solo strings? True
¿Todas las listas en 'genres_name' contienen solo strings? False
¿Todas las listas en 'production_companies_name' contienen solo strings? False
¿Todas las listas en 'production_countries_name' contienen solo strings? False
¿Todas las listas en 'main_cast' contienen solo strings? True

- Reemplazar espacios en blanco o cadenas vacías en todas las columnas de tipo object con 'Desconocido'

In [353]:
columnas_objetivo = ['genres_name', 'production_companies_name', 'production_countries_name']
merged_data[columnas_objetivo] = merged_data[columnas_objetivo].replace(r'^\s*$', 'Desconocido', regex=True)

In [354]:
print(merged_data.columns)

Index(['budget', 'id', 'overview', 'popularity', 'release_date', 'revenue',
       'title', 'vote_average', 'vote_count', 'genres_name',
       'production_companies_name', 'production_countries_name',
       'release_year', 'return', 'main_cast'],
      dtype='object')

In [355]:
merged_data_actors.columns

Index(['budget', 'id', 'popularity', 'release_date', 'revenue', 'title',
       'vote_average', 'vote_count', 'release_year', 'return', 'main_cast'],
      dtype='object')

In [356]:
cols = ['main_cast','title'] 
merged_data_actors[cols] = merged_data_actors[cols].replace(r'^\s*$', 'Desconocido', regex=True)

In [357]:
def verificar_y_convertir_listas(dataframe, columnas):
    resultados = {}

    for columna in columnas:
        # Convertir los elementos de la columna usando safe_literal_eval
        dataframe[columna] = dataframe[columna].apply(safe_literal_eval)

        # Verificar si todas las listas contienen solo strings, asegurando que cada valor no sea NaN
        only_strings = dataframe[columna].apply(lambda lst: all(isinstance(item, str) for item in lst if isinstance(lst, list) and item is not None))
        resultado = only_strings.all()  # True si todas las listas contienen solo strings

        # Además, convertimos los elementos de la lista a string para asegurarnos de que no haya floats
        dataframe[columna] = dataframe[columna].apply(lambda lst: [str(item) for item in lst])

        resultados[columna] = resultado
        
        # Imprimir el resultado para cada columna
        print(f"¿Todas las listas en '{columna}' contienen solo strings? {resultado}")

    return resultados

In [358]:
# Lista de columnas a verificar
columnas_a_verificar = ['genres_name', 'production_companies_name', 'production_countries_name', 'main_cast']

# Llamar a la función y verificar cada columna en la lista
resultados = verificar_y_convertir_listas(merged_data, columnas_a_verificar)
resultados_actors = verificar_y_convertir_listas(merged_data_actors, ['main_cast'])

¿Todas las listas en 'genres_name' contienen solo strings? False
¿Todas las listas en 'production_companies_name' contienen solo strings? False
¿Todas las listas en 'production_countries_name' contienen solo strings? False
¿Todas las listas en 'main_cast' contienen solo strings? True
¿Todas las listas en 'main_cast' contienen solo strings? True

In [359]:
def verificar_tipos_datos_columnas(df, columnas):
    """
    Verifica y muestra el tipo de datos de los elementos dentro de una lista de columnas de un DataFrame.
    
    Parámetros:
    df (pd.DataFrame): El DataFrame que contiene las columnas a verificar.
    columnas (list): Lista de nombres de columnas a analizar.
    
    Retorna:
    None
    """
    for columna in columnas:
       
        tipos_datos = df[columna].apply(type).value_counts()
        
        
        print(f"\nAnálisis de tipos de datos en la columna '{columna}':")
        for tipo, count in tipos_datos.items():
            print(f" - {count} valores de tipo '{tipo.__name__}'.")

In [360]:
verificar_tipos_datos_columnas(merged_data, columnas_a_verificar)
verificar_tipos_datos_columnas(merged_data_actors, ['main_cast'])

Análisis de tipos de datos en la columna 'genres_name':
 - 37263 valores de tipo 'list'.

Análisis de tipos de datos en la columna 'production_companies_name':
 - 37263 valores de tipo 'list'.

Análisis de tipos de datos en la columna 'production_countries_name':
 - 37263 valores de tipo 'list'.

Análisis de tipos de datos en la columna 'main_cast':
 - 37263 valores de tipo 'list'.

Análisis de tipos de datos en la columna 'main_cast':
 - 37303 valores de tipo 'list'.

In [361]:
def verificar_listas_solo_strings(dataframe, columnas):
    """
    Verifica si cada lista en las columnas especificadas de un DataFrame contiene solo strings.
    
    Parámetros:
    dataframe (pd.DataFrame): DataFrame que contiene las columnas a verificar.
    columnas (list): Lista de nombres de columnas a analizar en el DataFrame.

    Returns:
    dict: Un diccionario donde cada clave es el nombre de una columna y cada valor es un conteo de
          filas que cumplen o no cumplen con la condición de contener solo strings.
          
    La función también imprime un mensaje con los resultados para cada columna especificada.
    """
    
    resultados = {}
    
    for columna in columnas:
        def check_list_of_strings(lst):
            """
            Verifica si una lista contiene solo elementos de tipo string.
            
            Parameters:
            lst (list): Lista a verificar.
            
            Returns:
            bool: True si todos los elementos de la lista son strings, False en caso contrario.
            """
            if isinstance(lst, list):
                return all(isinstance(item, str) for item in lst)
            return False

        # Aplicar la verificación a la columna y contar cuántas filas cumplen la condición
        only_strings = dataframe[columna].apply(check_list_of_strings).value_counts()
        resultados[columna] = only_strings
        
        # Imprimir el resultado para cada columna
        print(f"¿Todas las listas en '{columna}' contienen solo strings?")
        print(only_strings)
        print("\n")

    return resultados

In [362]:
resultados = verificar_listas_solo_strings(merged_data, columnas_a_verificar)

¿Todas las listas en 'genres_name' contienen solo strings?
genres_name
True    37263
Name: count, dtype: int64


¿Todas las listas en 'production_companies_name' contienen solo strings?
production_companies_name
True    37263
Name: count, dtype: int64


¿Todas las listas en 'production_countries_name' contienen solo strings?
production_countries_name
True    37263
Name: count, dtype: int64


¿Todas las listas en 'main_cast' contienen solo strings?
main_cast
True    37263
Name: count, dtype: int64

# Transformar la union de los dataframes tranformados en formato parquet

In [363]:
merged_data.to_parquet('merged_data_model.parquet', index=False)

In [364]:
merged_data.to_csv('merged_data_model.csv' , index = False )

In [365]:
merged_data_actors.to_parquet('merged_data_actors.parquet', index=False)

In [366]:
merged_data_actors.to_csv('merged_data_actors.csv', index=False)